<?php
    namespace Rampus\Norma;

    use Nette;
    use Tracy;

?>
<style class="tracy-debug">
    .norma-sql {
        background: white !important
    }

    #tracy-debug .nette-DbConnectionPanel-source {
        color: #BBB !important
    }

    .norma-keyword {
        color: #0000aa !important;
    }

    .norma-param {
        font-weight: bold !important;
    }
</style>

<h1 title="<?php echo htmlSpecialChars("Norma", ENT_QUOTES, 'UTF-8') ?>">Queries: <?php
        echo NormaPanel::$count, (NormaPanel::$totalTime ? sprintf(', time: %0.3f ms', NormaPanel::$totalTime * 1000) : ''), ', ', htmlSpecialChars('nORMa', ENT_NOQUOTES, 'UTF-8') ?></h1>

<div class="tracy-inner " style="width: 1200px;">
    <table width="100%">
        <tr>
            <th style="width:80px">Time</th>
            <th style="width:20px"></th>
            <th>Entity</th>
            <th>Params</th>
            <th style="width:50px">Rows</th>
        </tr>
        <?php foreach (NormaPanel::$query as $val): ?>
            <tr>
                <td><?php echo sprintf('%0.1f ms ', $val['time'] * 1000) ?>
                    <br/><a class="tracy-toggle tracy-collapsed" data-tracy-ref="^tr .norma-sql">QUERY</a>
                </td>
                <td>
                    <?php
                        $op=$val['request']->getOperation();
                        switch($op){
                            case 'GET':
                                echo '<span style="color:green">';
                                break;
                            case 'PUT':
                                echo '<span style="color:blue">';
                                break;
                            case 'FNC':
                                echo '<span style="color:black">';
                                break;
                            case 'DEL':
                                echo '<span style="color:red">';
                                break;
                            default:
                                echo '<span>';
                        }
                        echo $op;
                        echo '</span>';
                    ?>
                </td>
                <td style="font-weight: bold">
                    <?php
                        $tmp = explode('\\', $val['request']->getEntity());
                        echo array_pop($tmp)
                    ?>
                </td>
                <td>
                    <?php if ($val['request']->getOperation() == 'FNC') {
                        echo '<span class="norma-keyword">' . $val['request']->getData()[0] . '( ' . $val['request']->getData()[1] . ' )</span><br>';
                    }
                    ?>
                    <?php if ($val['request']->getCondition()): ?>
                        <span class="norma-keyword">WHERE </span>
                        <span class="norma-param">
                    <?php echo NormaPanel::parseCondition($val['request']->getCondition()) ?>
                            </span><br>
                    <?php endif ?>
                    <?php if ($val['request']->getOrder()): ?>
                        <span class="norma-keyword">ORDER BY </span>
                        <span class="norma-param">
                        <?php echo implode(", ", $val['request']->getOrder()) ?>
                    </span>
                    <?php endif ?>
                    <?php if ($val['request']->getLimit()[0]): ?>
                        <span class="norma-keyword">LIMIT </span>
                        <span class="norma-param">
                        <?php echo implode(", ", $val['request']->getLimit()) ?>

                    </span>
                    <?php endif ?>
                    <table width="100%" class="tracy-collapsed norma-sql">
                        <tr>
                            <td class="norma-sql">
                                <?php echo $val['sql'] ?>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <?php echo $val['rows'] ?>
                </td>
            </tr>
        <?php endforeach ?>
    </table>
</div>


