{$control->getGridPrototype()->startTag()|noescape}
<thead>
<tr>
    {foreach $control->getComponents() as $val}
        {$val->renderHead()|noescape}

    {/foreach}
    <th n:if="count($control->getActions())">&nbsp;</th>
</tr>
</thead>
<tbody>
{foreach $control->getModel() as $row}
    <tr>
        {foreach $control->getComponents() as $val}
            {var $td=$val->renderCell($row)}
            {$val->getCellPrototype()->startTag()|noescape}
            {$td}
            {$val->getCellPrototype()->endTag()|noescape}
        {/foreach}

        <td n:if="count($control->getActions())">
            {foreach $control->getActions()->getComponents() as $act}
                {$act->render($row,$presenter)|noescape}
            {/foreach}
        </td>
    </tr>
{/foreach}
</tbody>
{$control->getGridPrototype()->endTag()|noescape}
